.container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.listProducts {
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-top: 20px;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}
