@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: grey;
  padding: 10px 30px;
}

.topRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navlinks {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.logo {
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.logo:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.cart {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .topRow {
    width: auto;
    gap: 40px;
  }

  .navlinks {
    flex-direction: row;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .topRow {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navlinks {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
