.navLinks {
  display: flex;
  gap: 12px;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.links {
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  padding: 6px 12px;
  color: #333;
  font-weight: 600;
  transition: all 0.3s ease;
  text-decoration: none;
}

.links:hover {
  color: white;
  font-weight: 600;
  transform: scale(1.1);
  width: auto;
  height: auto;
  background-color: orange;
  padding: 4px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
